
# Mac & IDE stuff
.DS_Store
.nbproject*
Thumbs.db
.idea
__pycache__/
*.py[cod]
.cache
.coverage
.vagrant

# project stuff
static/root
static/bootstrap
docs/build
migrations/
rules.json

# secure stuff
*.db
*secret*
*.log
