# Mac & IDE stuff
.DS_Store

__pycache__
*.py[cod]
.cache
.coverage
.idea
.vagrant

# project stuff
static/root
static/bootstrap
docs/build
*.log
bulktest*

# secure stuff
*.db
*.pem

# Sphinx Stuff
_build
_static
