# Mac & IDE stuff
.DS_Store
__pycache__
*.py[cod]
.cache
.coverage
.idea
.vagrant

# project stuff
static/root
static/bootstrap
bulktest*

# secure stuff
*.db
*.pem

# Sphinx Stuff
docs/_build
docs/_static
docs/pdf
