{% extends "base.html" %}

{% block title %}Subscription{% endblock %}

{% block content %}
    <div class="col-xs-12">
        <b><span class="col-xs-12" data-stripe="name">{{ user.username }} </span></b>
        <span class="col-xs-12" data-stripe="address_line1">{{ user.profile.address_line1 }}</span>
        <span class="col-xs-12" data-stripe="address_line2">{{ user.profile.address_line2 }}</span>
        <span class="col-xs-2" data-stripe="address_city">{{ user.profile.city }},</span>
        <span class="col-xs-1" data-stripe="address_state">{{ user.profile.state }} </span>
        <span class="col-xs-12" data-stripe="address_zip">{{ user.profile.post_code }}</span>
        <span class="col-xs-12" data-stripe="address_country">{{ user.profile.country }}</span>
    </div>
    <div class="col-xs-12"><hr></div>

    {% if customer.current_subscription.status == 'active' %}
        <div class="col-xs-12">
            <h5 class="col-xs-12"><b> You already have an active subscription</b></h5>
            <span class="col-xs-12"> Up To: {{ customer.current_subscription.current_period_end }} </span>
            <span class="col-xs-12"> Card Type: {{ customer.card_kind }} </span>
            <span class="col-xs-12"> Last 4 digits: {{ customer.card_last_4 }} </span>
        </div>
    {% else %}
    <form method="post" action="" id="payment-form"> {% csrf_token %}
        <div class="col-xs-12">
            {{  form.errors }}
        </div>
        <div class="form-group col-xs-12">
            <span class="col-xs-2">{{ form.card_number.label_tag }}</span>
            <span class="col-xs-2">{{ form.card_number }}</span>
            <span class="col-xs-8 payment-errors error">{{ form.card_number.errors }}</span>
        </div>
        <div class="form-group col-xs-12">
            <span class="col-xs-2"><b>Expiration (MM/YYYY)</b></span>
            <span class="col-xs-1">{{ form.expiry_month }}</span>
            <span class="col-xs-1">{{ form.expiry_year }}</span>
            <span class="col-xs-8">{{ form.expiry_month.errors }}{{ form.expiry_year.errors }}</span>
        </div>
        <div class="form-group col-xs-12">
            <span class="col-xs-2"><b>Security Code/CVC</b></span>
            <span class="col-xs-1">{{ form.cvc }}</span>
            <span class="col-xs-9">{{ form.cvc.errors }}</span>
        </div>
        <div class="form-group col-xs-12">
            <button type="submit" class="btn btn-primary">Checkout</button>
        </div>
    </form>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
    // This identifies your website in the createToken call below
    Stripe.setPublishableKey('pk_test_6Gs6DynH9L867d0GVRh8Y18N');

    var stripeResponseHandler = function(status, response) {
      var $form = $('#payment-form');

      if (response.error) {
        // Show the errors on the form
        $form.find('.payment-errors').text(response.error.message);
        $form.find('.status').text(status);
        $form.find('.response').text(response);
          $form.find('button').prop('disabled', false);
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        $form.append($('<input type="hidden" name="stripe_token" />').val(token));
        // and re-submit
        $form.get(0).submit();
      }
    };

    jQuery(function($) {
      $('#payment-form').submit(function(e) {
        var $form = $(this);

        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);

        Stripe.card.createToken($form, stripeResponseHandler);

        // Prevent the form from submitting with the default action
        return false;
      });
    });
  </script>
{% endblock %}

