PATH=/usr/local/bin:$PATH
WORKON_HOME=$HOME/.virtualenvs
PROJECT_HOME=$HOME
DJANGO_SETTINGS_MODULE={{ django_settings_module }}
PYTHONPATH=PYTHONPATH:{{ base_dir }}/.virtualenvs/{{ project_name }}/lib/python3.5/site-packages/:{{ base_dir }}/BankValDj/:
SECRET_KEY="{{ SECRET_KEY }}"
DATABASE_NAME={{ DATABASE_NAME }}
DATABASE_USER={{ DATABASE_USER }}
DATABASE_PASSWORD={{ DATABASE_PASSWORD }}
DATABASE_HOST={{ DATABASE_HOST }}
DATABASE_PORT={{ DATABASE_PORT }}
STRIPE_SECRET_KEY="{{ STRIPE_SECRET_KEY }}"
STRIPE_PUBLIC_KEY="{{ STRIPE_PUBLIC_KEY }}"
