[Unit]
Description=uWSGI Emperor
After=syslog.target

[Service]
User={{ ansible_user }}
Group=nginx
EnvironmentFile=/home/{{ ansible_user }}/.{{ project_name }}.env
ExecStart=/usr/local/bin/uwsgi --emperor /etc/uwsgi/vassals
ExecRestart=/bin/kill -HUP $MAINPID
# Requires systemd version 211 or newer
RuntimeDirectory=uwsgi
Restart=always
KillSignal=SIGQUIT
Type=notify
# StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
