{% extends "base.html" %}

{% block title %}Validate Account{% endblock %}

{% block content %}
<form class="col-xs-8 form-horizontal" name="form" action="" method ="post"> {% csrf_token %}
    {% for field in form %}
        <div class="form-group col-xs-12">
            <div class="col-xs-3">{{ field.label_tag }}</div>
            <div class="col-xs-3">{{ field }}</div>
            <div class="col-xs-6 text-danger">{{ field.errors.as_text }}</div>
        </div>
    {% endfor %}
    <div class="col-xs-12">&nbsp</div>
    <input class="btn btn-primary" name="submit" type="submit" value="validate"/>
</form>
{{ result }}

{% endblock %}
